.Apuntes{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #03292e;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}