.circle {
    display: inline-block;
    width: 9vh;
    height: 9vh;
    border-radius: 50%;
    border: 10px solid white;
    text-align: center;
    line-height: 250px;
    overflow: hidden;
    padding: 3px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 0 10px gray;
    /* margin: 50px */
    margin: 8px;
  }
  .circle:hover{
    border: 10px solid rgb(197, 255, 178);
  }


  .fill {
    background-color: teal;
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .activity-img{
    position: relative; 
}

.circle-text{
  font-size: 1.5vh;
}

.modalCard{
  width: 80%;
  display: flex;
  background-color: teal;
  flex-direction: column;
  border-radius: 5%;
  overflow: hidden;
  color: white;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: auto;
  z-index: 999;
  font-size: 1.4vh;
  align-items: center;
  justify-content: center
}
.modalCard button{
  width: 20vh;
  border-radius: 7%;
  display:block;
}

.modalCard button:hover{
  background-color:white;
  color: teal
}

